.box,.box2{
    height: 130px;
    width: 180px;
    border: 1px solid black;
    background: white;
    position: absolute;
    top: 30%;
    right: 28%;
}

.box2{
    top: 64%;
}

input{
  
    outline: none;
}