.cbox{
    font-size: 16px;
}

.info{
    color: white;
    margin: 128px auto;  
    background: linear-gradient(rgba(255,255,255,0.09),rgba(255,255,255,0.18)); 
}


.info .name{
    font-size: 53px;
    font-weight: 500;
}

.info .lead{
    opacity: 0.75;
    font-size: 15px;
}


.b{
    font-size: 13px;
    z-index: -1; 
    border: 1px solid white;
    color: aliceblue;
    border-radius: 5px;
}

.b:hover{
    background: white;
    color: black;
    z-index: 1;
}



















